<div class="mian">
    <div class="d-flex justify-content-center  m-0 bg ">
        <div class=" d-flex m-0 bg p-3 ">
            <h1 class="m-0 ">HW2P SCANNER</h1>
        </div>
    </div>
    <div class="logo">
        <div class="d-flex justify-content-center  display-1 pt-5">
            <img src="assets/icon.jpeg" alt="icon" width="350">
        </div>
    </div>
    <div class="container ">
        <div class=" text-center custom">
            <button class="button-wrap" role="button" (click)="navigateToFolder()">הצג תיקייה</button>
            <button class="button-wrap mt-2" (click)="navigateToUpload()">העלה תמונה ממצלמה/גלריה</button>
        </div>
    </div>
</div>